.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 12vh;
    margin-bottom: 2%;
    border: 1px solid red;
}

.card_find {
    background-color: red;
}

.card_find .card__item {
    opacity: 1;
}

.card__item {
    font-size: 30px;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.card__item_active {
    opacity: 1;
}
