.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 12vh;
    margin-bottom: 2%;
    background-image: url(../../res/card.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    transition: opacity .3s ease-out;
    color: red;
}

.card_find {
    opacity: .5;
}

.card_find .card__item {
    opacity: 1;
}

.card__item {
    font-size: 36px;
    font-weight: bold;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.card__item_active {
    opacity: 1;
}
