.start-field__button_disable {
    pointer-events: none;
}

.start-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-field__name {
    margin-bottom: 20px;
}

.start-field__button {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: background-color .3s ease-out;
}

.start-field__button:hover {
    background-color: #666;
}

.start-field__link {
    transition: transform .3s ease-out;
}

.start-field__link:hover {
    transform: scale(1.1);
}